*{
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.301);
    color: rgb(255, 255, 255)
}
section{
    background-color:rgba(248, 0, 174, 0.26);
    margin: 10px;
}

@media (min-width:992px){
    .col-lg-4{
        float:left;
        border: 3px groove grey;
        width: 33.3%
    }
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6, .col-md-12{
        float: left;
        border: 2px groove grey;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%
    }
}
@media (max-width:767px){
    col-sm-1, col-sm-2, col-sm-3, col-sm-4,col-sm-5,col-sm-6,col-sm-7,col-sm-8,col-sm-9,col-sm-10,col-sm-11,.col-sm-12{
        float: center;
        border: 1px groove grey;
    }
    .col-sm-1{
        width: 8.33%
    }
    .col-sm-2{
        width: 16.66%
    }
    .col-sm-3{
        width: 25%
    }
    .col-sm-4{
        width: 33.33%
    }
    .col-sm-5{
        width: 41.66%
    }
    .col-sm-6{
        width: 50%
    }
    .col-sm-7{
        width: 58.33%
    }
    .col-sm-8{
        width: 66.66%
    }
    .col-sm-9{
        width: 75%
    }
    .col-sm-10{
        width: 83.33%
    }
    .col-sm-11{
        width: 91.66%
    }
    .col-sm-12{
        width: 100%
    }
}
#header1, #header2, #header3 {
    position: relative;
    float: right;
    border: 1px dashed red;
    background-color:rgba(244, 165, 96, 0.541);
}
.row{
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Times New Roman', Times, Arial, sans-serif;
    margin : 20px;
}